body{padding-top:60px;padding-bottom:40px;}.sidebar-nav{padding:9px 0;}@media (max-width:980px){.navbar-text.pull-right{float:none;padding-left:5px;padding-right:5px;}}#cy{width:3000px;height:1500px;left:0;top:0;z-index:999;}
div.section{border-radius:0;background-color:#fff;border:1px solid #efefef;margin-bottom:20px;overflow:hidden;-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,.15);-moz-box-shadow:0 1px 3px 0 rgba(0,0,0,.15);box-shadow:0 1px 3px 0 rgba(0,0,0,.15)}div.section div.header{color:#606060;padding:10px 15px;position:relative}div.section div.header h5{color:#333;margin:0}div.section div.header a{color:#333;position:absolute;right:15px;top:12px}div.section div.body{border-top:1px solid #efefef;padding:15px 15px 0;position:relative}body{background:"#A9A9A9"}
 #cy {
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   z-index: 999;
 }
 .td {
   text-align: right;
 }
 #ex1Slider .slider-selection {
   background: #BABABA;
 }
 .edge_btn {
   width: 100%;
   height: 100%;
   display: inline-table;
   padding: 6px;
   color: white;
 }
.pubmed {
   background-color: #285287;
 }

.mex {
  background-color: #796395;
}
span > a {
  color: white;
}
.wrapper {
  display: table;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}