<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <title>Data</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" /> 
  <link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet" /> 
  <script src="{{ static_url('js/jquery.js')}}"></script> 
  <script src="{{ static_url('js/bootstrap.min.js')}}"></script> 
  <script src="{{ static_url('js/site.js')}}"></script> 
 </head> 
 <body> 
  <div id="guide" class="navbar navbar-inverse navbar-fixed-top" style="position: static; margin-bottom: 40px "> 
   <div class="navbar-inner"> 
    <div class="container-fluid"> 
     <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
     <a class="brand" href="/">BioPA</a> 
     <div class="nav-collapse collapse"> 
      <p class="navbar-text pull-right"> Logged in as <a href="" class="navbar-link">Username</a> </p> 
      <ul class="nav"> 
       <li class="active"><a href="/">Home</a></li> 
       <li><a href="about">About</a></li> 
       <li><a href="contact">Contact</a></li> 
      </ul> 
     </div> 
     <!--/.nav-collapse --> 
    </div> 
   </div> 
  </div> 
  <!-- end gudie--> 
  <div class="container"> 
    <div class="container-fluid"> 
     <div style="padding-top: 20px "> 
      <ul id="myTab" class="nav nav-tabs"> 
       <li class="active"> <a href="#gene" data-toggle="tab"> Search Results </a> </li> 
       <li> <a  style="text-align: right;" class="a_post" id="version">Visualzation</a> </li> 
      </ul> 
     </div> 

     <div class="table table-striped table-bordered table-hover "> 
      <table id="deatilGene"> 
       <tbody>
        <tr>
         <th>Entity1 Name</th> 
         <th>Entity2 Name</th> 
         <th>Interactions</th> 
         <th>Effect</th> 
         <th>Modifcation</th> 
         <th>ManscripID</th> 
         <th>Pathway ID</th> 
         <th>Pathway Name</th> 
        </tr>
        {% for item in noun1 %}
          <tr>
            <th>{{ item['Entity1'] }}</th>
            <th>{{ item['Entity2'] }}</th>
            <th>{{ item['Interaction']}}</th>
            <th>{{ item['Effect'] }}</th>
            <th>{{ item['Modification'] }}</th>
            <th>{{ item['ManuscriptID'] }}</th>
            <th>{{ item['PathID'] }}</th>
            <th>{{ item['PathName'] }}</th>
          </tr>
        {% end %}
       </tbody>
      </table> 
     </div> 
     <ul class="inline" style="text-align: center;"> 
      <li><a href="#">&laquo;</a></li> 
      <li><a href="#" id="1">1</a></li> 
      <li><a href="#" id="2">2</a></li> 
      <li><a href="#" id="3">3</a></li> 
      <li><a href="#" id="4">4</a></li> 
      <li><a href="#" id="5">5</a></li> 
      <li><a href="#">&raquo;</a></li> 
     </ul> 
     <form method="post" action="/vesion" id="myform">
        <input id="input" type="text" name="noun1" style="display: none">
        <h2 style="display: none" id="keyword">{{ keyword }}</h2>
      </form>
    </div> 
   </div>
   <!--.container--> 
  </div> 
  <!--.container-->  
 </body>
</html>
<script>
$(document).ready(function() {
  $("#version").click(function(e) {
      var key = $('#keyword').text();
      $('#input').val(key);
      $('#myform').submit();
      return false;
    })
  });
</script>