<!DOCTYPE html>
<html>
  <head>
    <title>Fixed layout example with Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
<div class="container">
<div class="row">
  <div class="col-xs-3"><p>hello</p></div>
  <div class="col-xs-3"><p>Lseget eros.</p></div>
  <div class="col-xs-3"><p> eget eros.</p></div>
  <div class="col-xs-3"><p>id felis. Vivamus sollicitudin metus eget eros.</p></div>

</div> 
</div>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>