<!--
Author: xmoban.cn
Author URL: http://xmoban.cn
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Modern Error Widget Flat Responsive Widget Template :: xmoban.cn</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Error Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{{ static_url('css/error.css') }}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="http://cdn.bootcss.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /> 
<!-- //font-awesome icons -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1112982054462406",
    enable_page_level_ads: true
  });
</script>
</head>
<body>
	<div class="main">
		<div class="w3layouts_main_grids">
			<div class="w3_main_grid_left">
				<div class="w3l_main_grid">
					<h2>404</h2>
				</div>
				<h3>Page not found!</h3>	
			</div>
			<div class="w3_main_grid_right w3_agileits_grid_right">
				<h3>您键入的关键词有误</h3>
				<p>请检查您键入的关键词是否有拼写错误，数据库中找不到相关的记录
				<a href="/">返回首页</a></p>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
</body>
</html>