<!DOCTYPE html>
<html lang="en">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <title>Data</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" /> 
  <link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet" /> 
  <link rel="stylesheet" href="{{ static_url('css/style.css')}}">
  <link rel="stylesheet" href="{{ static_url('css/docs.min.css')}}">
  <link href="{{ static_url('css/bootstrap-responsive.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ static_url('css/bootstrap.icon-large.min.css')}}">
  <script src="{{ static_url('js/bootstrap-slider.js')}}"></script>
  <script src="{{ static_url('js/jquery.js')}}"></script>
 </head> 
 <body> 
  <div id="guide" class="navbar navbar-inverse navbar-fixed-top" style="position: static; margin-bottom: 40px ">
    <div class="navbar-inner">
      <div class="container-fluid">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">BioPA</a>
        <div class="nav-collapse collapse">
          <p class="navbar-text pull-right">Logged in as
            <a href="" class="navbar-link">Username</a></p>
          <ul class="nav">
            <li class="active">
              <a href="/">Home</a></li>
            <li>
              <a href="about">About</a></li>
            <li>
              <a href="contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
    </div>
  </div><!-- guide-->

  <div class="row-fluid">
      <ul class="nav nav-tabs" >
          <li class="active">
            <a href="#home" data-toggle="tab">Gene Browse</a>
            <a id="segment" style="display: none">{{ chr }}</a>
          </li>
        </ul>
        <div id="browser" class="tab-content" style="text-align: center;">
          <div class="tab-pane fade in active" id="home">
            <div id="frame-out" style="width:1600px;height:900px;overflow:hidden;border-style: :none"> 
                <div id="frame-in" style="width:1600px;height:900px;margin:-30px -00px -500px -200px;border-style: none;">
                  <iFrame src="" width="1200" height="1000" scrolling="no" id="showFrame" style="border: none">
                  </iFrame>
                </div>
            </div> 
          </div>
        </div>
  </div> <!--row-fluid-->
 </body>
</html>
<script type="text/javascript">
  $(function() {
    var chr = $('#segment').text();
    $('#showFrame').attr("src", "http://browse2.big.ac.cn/jbrowse/?data=human_GRCh38&loc=" + chr + "%3A1..170805979&tracks=Gene%2CTranscript%2ClncRNA%2CmiRNA&highlight=")
  });
</script>
</html>